{% extends 'page_base.html' %}

{% load static %}

{% block content %}
<div class="main_content" id="main_content">
        <div class="candidates_chategory">
                <button class="btn btn-primary btn" id="btn_canidates_all" tag="all" >All</button>
                <button class="btn btn-info btn" id="btn_canidates_autosar" tag="Autosar">Autosar</button>
                <button class="btn btn-info btn" id="btn_canidates_back" tag="Business analyst">Business analyst</button>
                <button class="btn btn-info btn" id="btn_canidates_c++" tag="C/C++">C/C++</button>
                <button class="btn btn-info btn" id="DevOps" tag="DevOps">DevOps</button>
                <button class="btn btn-info btn" id="btn_canidates_front" tag="Frontend">Frontend</button> 
                <button class="btn btn-info btn" id="btn_canidates_ios" tag="iOS">iOS</button>     
                <button class="btn btn-info btn" id="btn_canidates_java" tag="Java">Java</button>
                <button class="btn btn-info btn" id="btn_canidates_net" tag=".NET">.NET</button>
                <button class="btn btn-info btn" id="btn_canidates_python" tag="Python">Python</button>
                <button class="btn btn-info btn" id="btn_canidates_qa" tag="QA">QA</button>
        </div>
        <table class="candidates">    
            <tr >
                <th style="background-color: #83c1f3" width="14%">Candidate</th>
                <th style="background-color: #83c1f3" width="8%" >Group</th>
                <th style="background-color: #83c1f3" width="7%" >Recruiter</th>
                <th style="background-color: #83c1f3" width="8%" >Contact date</th>
                <th style="background-color: #83c1f3" width="13%" >Tech interviewer</th>
                <th style="background-color: #83c1f3" width="10%" >Technical Level</th>
                <th style="background-color: #83c1f3" width="10%" >BUL interviewer</th>
                <th style="background-color: #83c1f3" width="13%" >Status</th>
            </tr>
                    
            {% for candidate in candidates %}  
                <tr class="candidate_entry" id="{{ candidate.id }}" tag="{{ candidate.group }}">
                    <td><b>{{ candidate.name }}</b></td>
                    <td>{{ candidate.group }}</td>
                    <td>{{ candidate.recruiter }}</td>
                    <td>{{ candidate.contact_date }}</td>  
                    <td>{{ candidate.technical_interviewer }}
                        <img class="tech_feedback_icon" id="icon_{{ candidate.id }}" src="{% static 'images/tech_feedback.ico' %}">
                        <img class="tech_feedback_date_icon" id="date_{{ candidate.id }}" src="{% static 'images/calendar-icon.png' %}">
                        <div class="popup">
                            <span class="popup_feedback" id="popup_feedback_{{ candidate.id }}"> {{ candidate.technical_feedback }}
                                <span class="close_popup"><b>X</b></span>
                            </span>
                        </div>
                        <div class="popup">
                            <span class="popup_feedback_date" id="popup_feedback_date_{{ candidate.id }}"> {{ candidate.technical_interview_date }}
                                <span class="close_popup_date"><b>X</b></span>
                            </span>
                        </div>  
                    </td>
                    <td>{{ candidate.technical_level }}</td>  
                    <td>{{ candidate.bul_intervier }}
                    </td>
                    <td class="status" style="font-weight: bold">{{ candidate.status }}</td>
                </tr>    
            {% endfor %}   
        </table>
        <div>
            <button class="btn btn-primary btn" id="btn_add_candidate" style="margin-top: 20px">Add candidate +</button>    
        </div> 
</div>     
     
        
<div class="container_new_candidate" id="new_candidate_window">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-25"><label class="new_entry" for="lname">Candidate name:</label></div>
            <div class="col-75">{{ form.name }}</div>
        </div>
        <div class="row">
            <div class="col-25">
            <label class="new_entry" for="candidaate_contact_details">Email:</label>
            <label class="new_entry" for="candidaate_contact_details">Phone number:</label>
            <label class="new_entry" for="candidaate_contact_details">Skype id:</label>
        </div>
            <div class="col-75">
                {{ form.email }}
                {{ form.phone }}
                {{ form.skype }}
            </div>
        </div>
        <div class="row">
            <div class="col-25"><label class="new_entry">Contact date:</label></div>
            <div class="col-75">{{ form.contact_date }}</div>
        </div> 
        <div class="row">
            <div class="col-25"><label class="new_entry">Contact mode:</label></div>
            <div class="col-75">{{ form.contact_mode }}</div>
        </div> 
        <div class="row">
            <div class="col-25"><label class="new_entry" for="group">Candidate domain:</label></div>
            <div class="col-75">{{ form.group }}</div>
        </div>
        <div class="row">
            <div class="col-25"><label class="new_entry" for="lname">Recruiter name:</label></div>
            <div class="col-75">{{ form.recruiter }}</div>
        </div>
        <div class="row">
            <div class="col-25"><label class="new_entry" for="country">Technical validator</label></div>
            <div class="col-75">{{ form.technical_interviewer }}</div>
        </div>    
        <div class="row">
            <div class="col-25"><button class="btn btn-primary btn" id="btn_cancel_entry">Cancel</button> </div>
            <div class="col-75"><input type="submit" id="btn_submit_entry"></div>    
        </div>
    </form>
</div>  
{% endblock %}
