
{% extends 'page_base.html' %}

{% load static %}
{% block content%}
    

<div class="chart_header">
        <img class="logo"  src="{% static 'images/chart_icon.png' %}" style="width: 20px">
    <span style="color: rgb(75, 75, 75); vertical-align: middle"><b style=>Candidates status</b></span>
</div>
<div class="chart_body">
    <div class="a_chart">
        <canvas id="data-chart" width="100%" height="100%"></canvas>         
    </div>  
    <div class="chart_info"> 
            <li>Total
                <span class="lable">{{ total }} (100%)</span>
            </li>
            <li>Autosar
                <span class="lable">188 (100%)</span>
            </li>
            <li>Business analyst
                <span class="lable">188 (100%)</span>
            </li>
            <li>C/C++
                <span class="lable">188 (100%)</span>
            </li>
            <li>DevOps
                <span class="lable">188 (100%)</span>
            </li>
            <li>Frotend
                <span class="lable">188 (100%)</span>
            </li>
            <li>iOS
                <span class="lable">188 (100%)</span>
            </li>    
            <li>Java
                <span class="lable">188 (100%)</span>
            </li>    
            <li>.Net
                <span class="lable">188 (100%)</span>
            </li>    
            <li>Phyton
                <span class="lable">188 (100%)</span>
            </li>    
            <li>QA
                <span class="lable">188 (100%)</span>
            </li>
    </div>   
</div>    

<script>
    new Chart(document.getElementById("data-chart"), {
        type: 'doughnut',
        data: {
        labels: ["Autosar", "Business analyst", "C/C++", "Frotend", "iOS", "Java", ".Net", "Phyton", "QA"],
        datasets: [
            {
            label: "Candidates profile",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [2478,5267,734,784,433]
            }
        ]
        },
        options: {
            legend: {
                display: false},
            layout: {
                
            },    
        }
    });
</script>

{% endblock %}


