{% extends 'page_base.html' %}

{% block content%}

<div class="container">
    <div>
        <a href="/questions" style="display: inline-block;"><h2><button class="btn btn-primary btn-lg" href="#" role="filter" >Questions</button></h2> </a>
        <button class="btn btn-info btn-lg" href="#" role="no_filter" >Interview Report</button>
        <button class="btn btn-danger btn-lg" href="#" role="no_filter" >Data analysis</button>
        <button class="btn btn-warning btn-lg" href="#" role="no_filter" >Candidate status</button>
        <button class="btn btn-primary btn-lg" href="#" role="no_filter" >Calendar</button>
    </div>
</div>

{% endblock %}


