{% extends 'page_base.html' %}

{% load static %}

{% block content%}
    <div class="row justify-content-lg-center">
        <div class="col-lg-4">
            <p class="recruiting_team_text" style="margin-top: 20px">ERNI recruting team</p>        
        </div>
    </div> 
    <div class="col-12">
        <div class="row justify-content-md-center">
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/claudia.png' %}"> 
                <p class="profile_text">Claudia Perarnau</p>
                <p class="profile_text">People Officer</p>   
            </div> 
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/veronica.png' %}">
                <p class="profile_text">Veronica Mendes</p>
                <p class="profile_text">Recruting Team</p>   
            </div>
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/luisa.png' %}"> 
                <p class="profile_text">Maria Luisa Cabrera</p>
                <p class="profile_text">Recruting Team</p>   
            </div>
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/monika.png' %}"> 
                <p class="profile_text">Monika Szymanska</p>
                <p class="profile_text">Recruting Team</p>   
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/alberto.png' %}"> 
                <p class="profile_text">Alberto Arjona</p>
                <p class="profile_text">Recruting Team</p>   
            </div> 
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/guillermo.png' %}"> 
                <p class="profile_text">Guillermo Lopez</p>
                <p class="profile_text">Recruting Team</p>    
            </div>
            <div class="col-lg-2">
                <img class="profile_icon" src="{% static 'images/oscar.png' %}"> 
                <p class="profile_text">Oscar Penon</p>
                <p class="profile_text">Recruting Team</p>   
            </div>
        </div>
    </div>
{% endblock %}


