
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERNI Recruting Platform</title>
    <link rel="icon"       href="{% static 'images/ERNI_logo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'chart-min.js' %}"></script>
    <script src="{% static 'script-chart.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>

    
    <title>Bootstrap</title>
    </head>

    <body>
        <div>
            <div class="sidebar">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <img class="logo"  src="{% static 'images/logo.png' %}" width="240px">
                            <p style="color: #4E598C; margin-left: 150px;">#betterjoinerni</p>
                        </div>
                        <ul class="list-unstyled components">
                                    <a href="/" class="btn btn-primary btn-lg" id="btn_home" style="display: inline-block;">Home</a>
                                    <div class="meniu_buttons">
                                            <a href="/candidates" class="btn btn-info btn-lg" id="btn_candidates" style="display: inline-block;">Candidate status</a>
                                            <a href="/data" class="btn btn-primary btn-lg" id="btn_data"style="display: inline-block;" >Data analysis</a>
                                            <a href="/questions" class="btn btn-info btn-lg" id="btn_interview" style="display: inline-block;">Interview questions</a>
                                            <a href="/report" class="btn btn-primary btn-lg" id="btn_candidate_report" style="display: inline-block;">Interview report</a>
                                   </div>
                        </ul>
                    </nav>
                    <div>
                        <div class="about_contact"><a href="#">About</a></div> 
                        <div class="about_contact"><a href="/admin">Admin</a></div> 
                        <div class="about_contact"><a href="#">Contact</a></div>
                        <div class="credits">
                            <div>© 2018</div>
                            <div style="color: #4E598C">ERNI - Swiss Software Engineering</div>
                            <div>All rights reserved</div>
                        </div>
                    </div>
            </div>
                <div class = "header">
                        <img class="city_header"  src="{% static 'images/header.png' %}">
                </div>    
                    {% block content %}
                    {% endblock %}  
        </div>  
    </body>   
</html>        