
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERNI Recruting Platform</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'chart-min.js' %}"></script>
    <script src="{% static 'script-chart.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>

    <title>Bootstrap</title>
    </head>

    <body>
        <div>
            <div class="sidebar">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <img class="logo"  src="{% static 'images/logo.png' %}">
                            <p style="color: #4E598C; margin-left: 160px;">#betterjoinerni</p>
                        </div>
                
                        <ul class="list-unstyled components">
                                    <a href="/questions" style="display: inline-block;"><button class="btn btn-warning btn-lg" id="btn_home" >Home</button></a>
                                    <div class="meniu_buttons">
                                            <a href="/candidates" style="display: inline-block;"><button class="btn btn-info btn-lg" id="btn_candidates">Candidate status</button></a>
                                            <a href="/data" style="display: inline-block;"><button class="btn btn-danger btn-lg" id="btn_data" >Data analysis</button></a>
                                            <a href="/questions" style="display: inline-block;"><button class="btn btn-primary btn-lg" id="btn_interview">Interview questions</button></a>
                                            <button style="background-color: gray" class="btn btn-warning btn-lg" href="#" role="no_filter" style="opacity: 0.5" id="btn_candidate_report">Interview Report</button>
                                            <button style="background-color: gray" class="btn btn-primary btn-lg" href="#" role="no_filter" style="opacity: 0.5" id="btn_calendar">Calendar</button>
                                   </div>
                        </ul>
                    </nav>
                    <div>
                        <div class="about_contact"><a href="#">About</a></div> 
                        <div class="about_contact"><a href="#">Contact</a></div>
                        <div class="credits">
                            <div>© 2018</div>
                            <div style="color: #4E598C">ERNI - Swiss Software Engineering</div>
                            <div>All rights reserved</div>
                        </div>
                    </div>
            </div>
                <div class = "header">
                        <img class="city_header"  src="{% static 'images/header.png' %}">
                </div>    
                    {% block content %}
                    {% endblock %}  
        </div>  
    </body>   
</html>        