{% extends 'page_base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}      
<div class="main_content">   
    <table class="candidates">    
        <tr >
            <th style="background-color: #83c1f3" >Candidate</th>
            <th style="background-color: #83c1f3" >Group</th>
            <th style="background-color: #83c1f3" >Recruiter</th>
            <th style="background-color: #83c1f3" >Contact date</th>
            <th style="background-color: #83c1f3" >Tech interviewer</th>
            <th style="background-color: #83c1f3" >BUL interviewer</th>
            <th style="background-color: #83c1f3" >Status</th>
            <th style="background-color: #83c1f3" width="10%" >Action</th>
        </tr>
            
        {% for candidate in candidates %}  
            {% if candidate.status == 'Pass recruiter interview' or candidate.status == 'Pass technical interview' %}
            <tr class="candidate_entry" id="{{ candidate.id }}" tag="{{ candidate.group }}">
                <td><b>{{ candidate.name }}</b></td>
                <td>{{ candidate.group }}</td>
                <td>{{ candidate.recruiter }}</td>
                <td>{{ candidate.contact_date }}</td>  
                <td>{{ candidate.technical_interviewer }}</td>
                <td>{{ candidate.bul_interviewer }}</td>
                {% if candidate.status == 'Pass recruiter interview' %}
                <td class="status" style="font-weight: bold">Technical interview pending</td>
                <td><button class="btn btn-primary btn"  id="{{ candidate.id }}" onclick="addTehcnicalReport()" >Write technical report</button> </td>
                {% else %}
                <td class="status" style="font-weight: bold">BUL interview pending</td>
                <td><button class="btn btn-primary btn" id="{{ candidate.id }}" onclick="addBulReport()">Write BUL report</button></td> 
                {% endif %} 
            </tr>    
            {% endif %} 
        {% endfor %}   
    </table>
</div>  

<div class="container_new_technical_report" id="container_new_technical_report">
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col-lg-3">
                <img class="profile_icon" src="{% static 'images/profile.bmp' %}" style="margin: auto">
                <label class="new_entry" for="lname"> Thecnical report: Add name here{{ candidates.name }}</label>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {{ form_tech.technical_feedback | attr:"style: height: 450px; word-wrap: break-word;"}}
                </div>
                <div class="row">
                    <div class="col-lg-4" id="tech_interview_select_filed">  
                        {{ form_tech.technical_interviewer }}
                    </div>
                    <div class="col-lg-4" id="tech_interview_select_filed">  
                        {{ form_tech.technical_level }}
                    </div>
                    <div class="col-lg-4" id="tech_interview_select_filed">  
                        {{ form_tech.technical_interview_date }}
                    </div> 
                </div>
            </div>        
        </div>    
        <div class="row">
            <div class="col-lg-6"><button class="btn btn-primary btn" id="btn_cancel_technical_feedback">Cancel</button></div> 
            <div class="col-lg-6"><input type="submit" value="Submit" id="btn_submit_technical_feedback"></div>  
        </div>
        <input type='text' id='entry_id_field_tech' name='entry_id' value=1 style="visibility: hidden">
    </form> 
</div>    

<div class="container_new_bul_report" id="container_new_bul_report">
    <form method="POST">
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col-lg-3">
                <img class="profile_icon" src="{% static 'images/profile.bmp' %}" style="margin: auto">
                <label class="new_entry" for="lname"> BULreport: Add name here{{ candidates.name }}</label>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    {{ form_bul.bul_feedback | attr:"style: height: 450px; word-wrap: break-word;"}}
                </div>
                <div class="row">
                    <div class="col-lg-4" id="tech_interview_select_filed">  
                        {{ form_bul.bul_interviewer }}
                    </div>
                    <div class="col-lg-4" id="tech_interview_select_filed">  
                        {{ form_bul.bul_verdic }}
                    </div>
                    <div class="col-lg-4" id="tech_interview_select_filed">  
                        {{ form_bul.bul_interview_date }}
                    </div> 
                </div>
            </div>        
        </div>    
        <div class="row">
            <div class="col-lg-6"><button class="btn btn-primary btn" id="btn_cancel_bul_feedback">Cancel</button></div> 
            <div class="col-lg-6"><input type="Submit" value="Submit" id="btn_submit_bul_feedback"></div>  
        </div>
        <input type='text' id='entry_id_field_bul' name='entry_id' value=1 style="visibility: hidden">
    </form> 
</div>      

{% endblock %}

