/* Home page */
.profile_icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 10px; 
}

.profile_text{
  text-align: center;
  color: rgb(255, 255, 255);
  background: #0077AB;
  margin: 0;
}

.recruiting_team_text{
  color: #0077AB;
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 48px;
  line-height: 60px;
}







/* Header */
 
.header{
  display: block; 
  margin-left: 32%;
  margin-right: auto;
  width: 50%;
}

/* Main content */

.main_content{
  display: block;
  padding-left: 20%;
  width: 95%;
}
 
 /* Side bar */
 
 .sidebar {
  display: block;
  align-items: stretch;
  float: left;
  min-width: 14%;
  max-width: 14%;
  height: 100vh;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

.credits{
  position: absolute;
  margin: 15px;
  bottom: 50px;
}

.about_contact{
  margin-left: 20px;
  margin-top: 15px;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  background: #DDEAEE;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

 /* Questions Page */
 
 *, *::before, *::after {
    box-sizing: border-box;
  }
  
  img.city_header{
    display: block;
    width: 100%;
    opacity: 40%;
  }

  .question {
    position: relative;
  } 

  .questions {
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 10px;
    block-size: 620px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  } 

  .questions_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;  
    margin-top: 25px; 
}
  
  .tag_level {
    display: block;
    position: relative; 
    float: right;
    margin-right: 15px;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: #8da1f7;
    white-space: wrap;
  }  

  .tag_answer {
    display: block;
    position: relative; 
    float: right;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: rgb(56, 89, 102);
    background-color: #c0f78d;
    white-space: wrap;
    cursor: pointer;
    margin-left: 15px;
  } 

  .tag_subject {
    display: block;
    position: relative; 
    float: right;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: rgb(56, 89, 102);
    background-color: #f7c98d;
    white-space: wrap;
    cursor: pointer;
  } 
  
  .input_question {
    position: absolute;
    left: -9999px;
  }
  
label.question_label {
  display: block;
  position: relative;
  margin: 20px;
  padding: 8px 30px 19px 62px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}
  
  label.question_label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
  }
  
  label.question_label:hover, input:focus + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  }
  
  input:checked + label.question_label {
    background-color: #a2cef7;
    color: #6a8494
  }
  
  input:checked + label::before {
    background-color: #fff;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(odd) {
    background-color: #b7dafc;
}

.interview_template{
  display: block;
  margin-left: 25px;  
  margin-right: 25px; 
  margin-top: 80px; 
  margin-bottom: 60px;   
}

@page { 
  margin: 0mm; 
}
 
/* Candidates page */

.candidates {
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  margin: auto;
  block-size: 610px;
  margin-top: 20px;
  margin-right:auto;
  margin-left:auto;
  width:100%;
} 

.questions_chategory{
  margin-top: 10px;
  display: block;
  padding-left: 30%;
  width: 95%;
}

.candidates_chategory{
  margin-top: 10px;
  display: block;
  padding-left: 20%;
  width: 95%;
}

select{
  border: none;
  background: inherit;
  font-weight: bold;
}

.tech_feedback_icon
{
  cursor: pointer;
  width: 20px; 
  float: right;
  margin-top: 3px;
  visibility: hidden;
}

.tech_feedback_date_icon
{
  cursor: pointer;
  width: 17px; 
  float: right;
  margin-top: 4px;
  margin-right: 8px;
  visibility: hidden;
}

.popup {
  position: relative;
  display: inline-block;
}

/* The actual popup */
.popup .popup_feedback {
  visibility: hidden;
  cursor: default;
  width: 600px; 
  background-color:#3993DD;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: auto; 
  margin-right: auto; 
  padding: 10px;
  padding-right: 40px;
}

.popup .popup_feedback_date {
  visibility: hidden;
  cursor: default;
  width: 200px; 
  background-color:#3993DD;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: auto; 
  margin-right: auto; 
  padding: 10px;
  padding-right: 40px;
}

.popup_feedback:after {
  content: "";
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  background: #3993DD;
  position: absolute;
  z-index: -1;
  top: -8px;
  left: 54px;
}

.popup_feedback_date:after {
  content: "";
  width: 16px;
  height: 16px;
  transform: rotate(-45deg);
  background: #3993DD;
  position: absolute;
  z-index: -1;
  top: -8px;
  left: 21px;
}

.close_popup{
  cursor: pointer;
  position: absolute;
  display: block;
  top: 10px;
  right: 20px;
}

.close_popup_date{
  cursor: pointer;
  position: absolute;
  display: block;
  top: 10px;
  right: 20px;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Buttons */

#btn_report{
  margin-top: 20px;
}

#btn_home{
  margin-left: 10px;
  margin-bottom: 2px; 
  width: 245px;
  opacity: 0.8;
}

#btn_interview{
  margin-left: 10px;
  margin-bottom: 2px; 
  width: 245px;
  opacity: 0.8;
}

#btn_candidates{
  margin-left: 10px;
  margin-bottom: 2px; 
  width: 245px;
  margin-bottom: 2px; 
  opacity: 0.8;
}

#btn_admin{
  margin-left: 10px;
  margin-bottom: 2px; 
  width: 245px;
  margin-bottom: 2px; 
  opacity: 0.6;
}

#btn_candidate_report{
  margin-left: 10px;
  margin-bottom: 2px; 
  width: 245px;
  margin-bottom: 2px;
  opacity: 0.6; 
}

#btn_data{
  margin-left: 10px;
  margin-bottom: 2px; 
  width: 245px;
  margin-bottom: 2px;
  opacity: 0.8; 
}

#btn_cancel_entry{
  background-color:rgb(175, 68, 68);
  width: 90px;  
  height: 48px;
  margin-left: 48px;
  border: none;
  box-shadow: 3px 3px #d4d4d4;
  margin-top: 30px;
}

#btn_submit_entry{
  float: right;
  box-shadow: 3px 3px #d4d4d4;
  margin-top: 30px;
}

#btn_cancel_technical_feedback{
  background-color:rgb(175, 68, 68);
  width: 90px;  
  height: 48px;
  margin-left: 32px;
  border: none;
  box-shadow: 3px 3px #d4d4d4;
  margin-top: 20px;
}

#btn_submit_technical_feedback{
  float: right;
  margin-right: 32px;
  box-shadow: 3px 3px #d4d4d4;
  margin-top: 20px;
}

#btn_cancel_bul_feedback{
  background-color:rgb(175, 68, 68);
  width: 90px;  
  height: 48px;
  margin-left: 32px;
  border: none;
  box-shadow: 3px 3px #d4d4d4;
  margin-top: 20px;
}

#btn_submit_bul_feedback{
  float: right;
  margin-right: 32px;
  box-shadow: 3px 3px #d4d4d4;
  margin-top: 20px;
}

/* Data analysis */

.a_chart{
  display: inline-block;
  width: 280px; 
}

.chart_header{
  background: #ddd;
  margin-left: 30%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 10px;
  height: 25px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.chart_body{
  display: block;
  border: 1px solid #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: auto;
  margin-left: 30%;
  margin-right: 15%;
  padding: 20px;
}

.chart_info{
  display: block;
  float: right;
  max-height: 400px; 
}

li{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 4px 12px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  line-height: 1;
  list-style-type: none;
  min-width: 400px;
}

canvas{
  position: relative;
  display: block;
}

label.question{
  display: block;
  float: right;
  min-width: 70px;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  background-color: #777777;
  border-radius: 10px;
}

/* new candidate entry */

.container_new_candidate{
  display: block;
  visibility: hidden;
  position: absolute;
  width: 55%;
  height: 75%;
  left: 30%;
  top: 10%;
  background: white;
  z-index: 0;
  border: 2px solid rgb(79, 69, 170); 
  border-radius: 20px; 
}

#container_new_technical_report{
  display: block;
  visibility: hidden;
  position: absolute;
  padding-top: 28px;
  width: 55%;
  height: 70%;
  left: 30%;
  top: 15%;
  background: white;
  z-index: 0;
  border: 2px solid rgb(79, 69, 170); 
  border-radius: 20px; 
}

#container_new_bul_report{
  display: block;
  visibility: hidden;
  position: absolute;
  padding-top: 28px;
  width: 55%;
  height: 70%;
  left: 30%;
  top: 15%;
  background: white;
  z-index: 0;
  border: 2px solid rgb(79, 69, 170); 
  border-radius: 20px; 
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* .text_field{
  margin-top: 10px;
  margin-left:40px;
}

.input_text_field{
  z-index: 2;
} */

label.new_entry {
  margin-left: 50px;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* label {
  padding: 12px 12px 12px 0;
  display: inline-block;
} */

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 20px;
}

.col-33 {
  float: left;
  width: 33%;
  margin-top: 20px;
}

.col-50 {
  float: left;
  width: 50%;
  margin-top: 20px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.new_review{
  border: 2px solid rgb(79, 69, 170); 
  margin: 0 auto;
}

.right_sid{
  float: left;
}

#tech_interview_select_filed{
  padding: 10px 0px 10px 0px;
}


