 /* Questions Page */
 
 *, *::before, *::after {
    box-sizing: border-box;
  }
  
  img.city_header{
    width: 100%;
  }

  .question {
    position: relative;
  } 

  .questions {
    display: block;
    overflow: hidden;
    overflow-y: scroll;
    block-size: 620px;
  } 

  .questions_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;  
    margin-top: 25px; 
}
  
  .tag_level {
    display: block;
    position: relative; 
    float: right;
    margin-right: 15px;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: #8da1f7;
    white-space: wrap;
  }  

  .tag_answer {
    display: block;
    position: relative; 
    float: right;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: rgb(56, 89, 102);
    background-color: #c0f78d;
    white-space: wrap;
    cursor: pointer;
    margin-left: 15px;
  } 

  .tag_subject {
    display: block;
    position: relative; 
    float: right;
    padding: 3px;
    border: 2px solid #fff;
    border-radius: 10px;
    color: rgb(56, 89, 102);
    background-color: #f7c98d;
    white-space: wrap;
    cursor: pointer;
  } 
  
  input {
    position: absolute;
    left: -9999px;
  }
  
label {
  display: block;
  position: relative;
  margin: 20px;
  padding: 8px 30px 19px 62px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}
  
  label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 32px;
    border: 3px solid #fff;
    border-radius: 100px;
    transition: background-color .2s;
  }
  
  label:hover, input:focus + label {
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
  }
  
  input:checked + label {
    background-color: #98fc92;
    color: #6a8494
    
  }
  
  input:checked + label::before {
    background-color: #fff;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

.interview_template{
  display: block;
  margin-left: 25px;  
  margin-right: 25px; 
  margin-top: 80px; 
  margin-bottom: 60px;   
}

@page { 
  margin: 0mm; 
}
 
/* Candidates page */

.candidates {
  display: block;
  overflow: hidden;
  overflow-y: scroll;
  block-size: 620px;
} 

.questions_chategory{
  margin-top: 10px;
}